   body {
	background-color: #C0953444;
	height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: small;
} 

/*Landing page */
.landing{ 
  color: #FFCC99;	
  background-image: url("../img/ACLandingPage2.jpg"); 
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  
}

.banner {
	  position: fixed;
	  border-bottom: 1px solid coral;
	  border-right: 2px solid coral;
	  border-top:0px; 	 
	  border-left:0px; 	  
	  border-style: double;
	
	  padding: 5px;
      margin-top: 5px;
	  z-index: -1;
}

.ul{
	display: grid;
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 10px 10px 10px 10px ;
	grid-gap:20px;
	padding-top: 100px;
    padding-right: 200px;
	list-style-type: none;

}

.li, .b1, .b2, .b3, .b4{
	color: rgb(211, 205, 253);
	padding: 20px;	

}

.b1{
	grid-row: 1/5 ;
	grid-column: 1/10;
	border-radius: 2rem 6rem;
	background-color:  rgb(33, 232, 24, 75%);
}

.b2{
    grid-row:5/8;
	grid-column: 6/10;
	background-color: rgb(59, 44, 44, 40%);
}

.b3{
	grid-row: 6/8;
	grid-column: 1/9;
	background-color: rgba(222, 248, 107, 0.5);
}

.b4{
    grid-row: 8/8;
	grid-column: 1/9;
	background-color: rgba(222, 248, 107, 0.5);
}


.na_1, .na_2, .na_3  {
	border-radius: 90px ;
	font-size: small;
	
	padding: 10px;
	color: blue;
	border-block-end-style: double;
	border-color: #FFCC99;
}
















